@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-size: 10px;
	font-family: Roboto;
}
.photo {
	width: 100px;
	height: 100px;
	background-color: #A2E7D6;
}
.users {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	border-right: 3px solid black;
	height: 100%;
}
.users > div {
	margin: 10px;
	text-align: center;
	cursor: pointer;
	
}
.conteiner {
	display: flex;
	flex-direction:row;
}